<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LibraryManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginAuthenticateAdmin</servlet-name>
    <servlet-class>com.virtusa.project.servlet.LoginAuthenticateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAuthenticateAdmin</servlet-name>
    <url-pattern>/login_authenticate_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAuthenticateMember</servlet-name>
    <servlet-class>com.virtusa.project.servlet.LoginAuthenticateMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAuthenticateMember</servlet-name>
    <url-pattern>/login_authenticate_member</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>com.virtusa.project.servlet.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/add_book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.virtusa.project.servlet.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/add_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.virtusa.project.servlet.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/update_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBook</servlet-name>
    <servlet-class>com.virtusa.project.servlet.UpdateBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBook</servlet-name>
    <url-pattern>/update_book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserDetails</servlet-name>
    <servlet-class>com.virtusa.project.servlet.UpdateUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDetails</servlet-name>
    <url-pattern>/update_userdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBookDetails</servlet-name>
    <servlet-class>com.virtusa.project.servlet.UpdateBookDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookDetails</servlet-name>
    <url-pattern>/update_bookdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveUser</servlet-name>
    <servlet-class>com.virtusa.project.servlet.RemoveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUser</servlet-name>
    <url-pattern>/remove_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveBook</servlet-name>
    <servlet-class>com.virtusa.project.servlet.RemoveBooKs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBook</servlet-name>
    <url-pattern>/remove_book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IsValidAdmin</servlet-name>
    <servlet-class>com.virtusa.project.servlet.IsValidAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsValidAdmin</servlet-name>
    <url-pattern>/IsValidAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IssueBook</servlet-name>
    <servlet-class>com.virtusa.project.servlet.IssueBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBook</servlet-name>
    <url-pattern>/issue_books</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReturnBook</servlet-name>
    <servlet-class>com.virtusa.project.servlet.ReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBook</servlet-name>
    <url-pattern>/return_books</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>IsValidMember</servlet-name>
    <servlet-class>com.virtusa.project.servlet.IsValidMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsValidMember</servlet-name>
    <url-pattern>/isValidMember</url-pattern>
  </servlet-mapping>
</web-app>